.no-webp .inicio{
    background-image: url(../../build/img/header.jpg);
}

.webp .inicio{
    background-image: url(../../build/img/header.webp);
}

.header{
    background-color: $grisOscuro;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 54.4rem;
    @include tablet{
        background-position: center center;
        min-height: 60rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header--superior{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        margin: 0 2rem;

        img{
            height: 5rem;
        }
        .contenedor--barras{
            max-width: 6rem;
            cursor: pointer;
        }

        @include tablet{
            margin-left: 5rem;
        }
    }


    .navegacion{
        animation: mostrarNav .2s ease-out forwards;
        a{
            display: flex;
            width:fit-content;
            margin: 0 2rem;
            padding: 1rem .5rem;
            @include tablet{
                margin-left: 5rem;
                padding: 1rem 0;
            }
            
            p{
                margin: 0;
                font-weight: $bold;
                color: $blanco;
            }
        }
        .contenedor--icono{
            display: flex;
            align-items: center;
            margin-right: 1rem;
        }
    }

    .header--titulo{
        margin-bottom: 3rem;
        h3,p{
            color: $blanco;
            text-align: center;
        }

        @include tablet{
            margin: 3rem 0;
            h3,p{
                text-align: left;
                margin-left: 5rem;
            }
        }
    }
}

.header2{
    min-height: 9rem;
    justify-content: center;
    .navegacion{
        .darkmode{
            margin-bottom: 1.5rem;
        }
    }
}

.header{
    .ocultar{
        animation: ocultarNav .2s ease-out forwards;
    }
}