main h2{
    font-weight: $bold;
    margin-bottom: 1.5rem;
}

.sobreNosotros{
    @include tablet{
        @include grid(3,2rem);
    }
}
.icono{
    padding: 2rem 0;
    border-bottom: .2rem solid #b3b1b1;

    &:first-of-type{
        padding-top: 0;
    }

    img{
        height: 10rem;
        margin-bottom: 1rem;
    }

    h3{
        text-transform: uppercase;
    }

    p{
        text-align: center;
    }

    @include tablet{
        padding: 0;
        border: none;
    }
}